* { box-sizing: border-box;}
.board { text-align: center; margin-top: 1rem; font-size: 0; 
  max-width: 1100px;
  margin: 0 auto;
}
header {text-align:center; padding: .5rem; 
    background: #000;
    color: #fff;
}
header h1 { font-weight: 300; margin:0; font-size: 1rem; text-transform: uppercase;}

.toggleDark { float: left;
  background: #4681bd;
  padding: 5px 8px;
  border-radius: 3px;
  color: #fff;
  margin: 3px;
  border: 1px solid #578cc1;
  cursor: pointer;
}
.toggleDark:hover {background:#578cc1;}


.sprite { background:#f5f5f5; padding: 1rem; }

.square { padding:0; height: 10px; width: 10px; 
    border-top: 1px solid rgba(0, 0, 0, 0.25); 
    border-left: 1px solid rgba(0, 0, 0, 0.25); 
    display:inline-block; border-collapse: collapse;
    background: url(./sprites/back2.png) 0 0;
    background-size: cover; 
  }

.row {    display: inline-block;
  }
@media (min-width: 410px) {
  .square { height: 12px; width: 12px; }
}
@media (min-width: 510px) {
  .square { height: 17px; width: 17px; }
}
@media (min-width: 710px) {
  .square { height: 22px; width: 22px; }
}
@media (min-width: 910px) {
  .square { height: 25px; width: 25px; }
}
  
.forkme {position: absolute; top: 0; right: 0; border: 0;}