* { box-sizing: border-box;}
.board { text-align: center; margin-top: 1rem; font-size: 0;}
header {text-align:center; }
header h1 { font-weight: 300;}

.sprite { background:#f5f5f5; padding: 1rem; }

.square { padding:0; height: 25px; width: 25px; 
  box-shadow: 1px 1px 0 #000; display:inline-block; border-collapse: collapse}

.row {    display: inline-block;
  border-left: 1px solid #000;
  border-top: 1px solid #000;}
@media (min-width: 410px) {
  .square { height: 35px; width: 35px; }
}
@media (min-width: 510px) {
  .square { height: 45px; width: 45px; }
}
@media (min-width: 710px) {
  .square { height: 65px; width: 65px; }
}
/* @media (min-width: 910px) {
  .square { height: 85px; width: 85px; }
} */
 
.square {
  background: url(./sprites/back2.png) 0 0;
  background-size: cover;
  opacity: .9
}