#panda {
  background: url(./teddy.png) 0 0;
  width: 72px;
  height: 60px; 
  margin: 0 auto;
  background-position: 0px 0px;
    background-size: 3700%;
    width: 100%;
    height: 100%;
}

 /* https://www.deviantart.com/art/MapleStory-Backgrounds-Enchanted-Forest-419122859 */